<div class="flow">
    <h2>Cream</h2>
    <div class='flex-row justify-start gap-m'>
        {% for color, label in params.colors %}
            {% if 'cream' in color %}
                <div class='flex-col gap-s'>
                    <div class='rounded-full width-8 height-8 bg--{{ color }}'></div>
                    <div class='mx-auto'>{{ label }}</div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <h2>Orange</h2>
    <div class='flex-row justify-start gap-m'>
        {% for color, label in params.colors %}
            {% if 'orange' in color %}
                <div class='flex-col gap-s'>
                    <div class='rounded-full width-8 height-8 bg--{{ color }}'></div>
                    <div class='mx-auto'>{{ label }}</div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    
    <h2>Purple</h2>
    <div class='flex-row justify-start gap-m'>
        {% for color, label in params.colors %}
            {% if 'purple' in color %}
                <div class='flex-col gap-s'>
                    <div class='rounded-full width-8 height-8 bg--{{ color }}'></div>
                    <div class='mx-auto'>{{ label }}</div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <h2>Gradients</h2>
    <div class='flex-row justify-start gap-m'>
        {% for gradient, label in params.gradients %}
            <div class='flex-col gap-s'>
                <div class='rounded-full width-8 height-8 bg--gradient bg--{{ gradient }}'></div>
                    <div class='mx-auto'>{{ label }}</div>
            </div>
        {% endfor %}
    </div>
</div>
