.banner {
  height: 6.6875rem;
}

.banner h1 {
  display: flex;
  background: linear-gradient(180deg, #fae1c8 0%, #eadbff 100%);
  height: 6.6875rem;
  padding-inline-start: 2.25rem;
  align-items: center;
  width: 100%;
}

.banner figure {
  display: flex;
  align-items: center;
  height: 11.4375rem;
  overflow: hidden;
  width: 100%;
}

.banner figure img {
  height: auto;
  width: 100%;
}

@media (min-width: 90rem) {
  .banner {
    display: flex;
    height: 23rem;
  }

  .banner h1 {
    height: 23rem;
  }

  .banner:has(figure) h1 {
    height: 23rem;
    padding-inline-start: 7.8125rem;
    width: 50%;
  }

  .banner figure {
    height: 23rem;
    width: 50%;
  }
}
