.blocks {
  padding-block: 3.125rem;
}

.blocks:has(.block-type-image:first-child) {
  padding-block-start: 0;
}

.blocks:has(.block-type-image:last-child) {
  padding-block-end: 0;
}

@media (width >= 60rem) {
  .blocks {
    padding-block: 6.25rem 5.625rem;
  }
}
