.blocks {
  height: 100%;
  padding-block: var(--size-15);
}

.blocks:has(.map),
.blocks:has(.block-type-image:last-child) {
  padding-block-end: 0;
}

.blocks:has(.block-type-image:first-child) {
  padding-block-start: 0;
}

@media (width >= 60rem) {
  .blocks {
    padding-block: var(--size-25) var(--size-23);
  }
}
