.box {
  background: var(--color-white);
  border-radius: 1.125rem;
  box-shadow: 0 0.25rem 1.5rem rgba(0, 0, 0, 0.25);
  margin-inline: auto;
  margin-block: 4rem;
  max-width: 53.125rem;
  padding-block: 5rem 4.375rem;
  padding-inline: 8rem;
  width: 100%;
}
