.events {
  display: flex;
  flex-direction: column;
  gap: var(--size-25) var(--size-10);
  margin-inline: auto;
}

.event figure {
  aspect-ratio: 41 / 30;
  max-width: var(--size-31);
  overflow: hidden;
  width: 100%;
}

.event img {
  height: auto;
  width: 100%;
}

.event h3 {
  color: var(--color-purple-600);
  font-weight: 900;
  font-size: var(--step-1);
  letter-spacing: 0;
  margin-block-start: var(--size-8);
  text-align: left;
  text-transform: unset;
}

.event .meta {
  margin-block-start: var(--size-2);
}

.event .small {
  margin-block-start: var(--size-3);
}

.event .link {
  margin-block-start: var(--size-7);
}

.event a {
  font-family: var(--font-display);
  font-size: var(--step--1);
  font-weight: 900;
  text-decoration: none;
}

@media (width >= 60rem) {
  .events {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: var(--size-34);
  }
}

@media (width >= 90rem) {
  .events {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: var(--size-36);
  }
}
