footer .inner {
  margin-inline: auto;
  max-width: var(--size-35);
}

footer .stay-connected {
  padding-block: 3.75rem var(--size-24);
}

footer .stay-connected h2 {
  color: var(--color-orange-500);
  text-align: start;
}

footer .solidarity-statement {
  --flow-space: var(--size-14);

  padding-block: 3.75rem;
  padding-inline: var(--size-11);
}

footer .solidarity-statement h2 {
  color: var(--color-orange-500);
  text-align: start;
}

footer nav {
  align-items: flex-start;
  flex-direction: column;
  gap: var(--size-7);
  height: auto;
  padding-block: var(--size-20);
  padding-inline: var(--size-13);
}

footer nav a[rel='home'] svg {
  height: var(--size-25);
  margin-block-end: var(--size-13);
}

footer nav ul {
  display: flex;
  flex-direction: column;
  gap: var(--size-7);
  padding-inline-start: 0;
}

footer nav ul.social {
  flex-direction: row;
  gap: var(--size-10);
  margin-block-start: var(--size-10);
}

footer nav .h3 {
  color: inherit;
  margin-block-start: var(--size-3);
  text-align: start;
}

footer nav a {
  color: var(--color-white);
  font-family: var(--font-base);
  font-weight: 500;
  font-size: var(--step-0);
  letter-spacing: var(--tracking--1);
  line-height: 1.5;
  text-decoration: underline;
  text-underline-offset: var(--size-1);
  text-transform: none;
}

footer .copyright {
  color: var(--color-white);
  padding-block: var(--size-13);
  padding-inline: var(--size-13);
  text-align: center;
}

footer .copyright a {
  color: var(--color-white);
}

footer .copyright a:active {
  color: var(--color-white);
}

footer .copyright .credits {
  display: block;
  font-size: var(--step--2);
  margin-block-start: var(--size-7);
}

@media (width >= 90rem) {
  footer .inner {
    max-width: var(--size-35);
  }

  footer .navigation .inner,
  footer .copyright .inner {
    max-width: var(--size-36);
  }

  footer .stay-connected {
    /** TODO **/
  }

  footer .solidarity-statement {
    --flow-space: 0;
  }

  footer .solidarity-statement .inner {
    display: grid;
    grid-template-columns: 40% 60%;
  }

  footer nav {
    flex-direction: row;
  }

  footer nav ul.social {
    gap: var(--size-13);
  }

  footer .copyright {
    text-align: left;
  }

  footer .copyright .credits {
    display: inline;
    font-size: 1em;
  }
}
