.grid {
  display: flex;
  flex-direction: column;
  gap: var(--size-8);
  margin-inline: auto;
  max-width: var(--size-37);
  padding-inline: var(--size-8);
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (width >= 60rem) {
  .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .column {
    grid-column: span var(--span);
  }
}
