.home .banner {
  background: var(--color-cream-150);
  background-image: var(--banner-image-url);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  display: block;
  height: var(--size-32);
  padding-block-start: var(--size-18);
  text-align: center;
}

.home .banner p {
  color: var(--color-orange-500);
  font-family: var(--font-display);
  font-weight: 700;
  font-size: var(--step-5);
  letter-spacing: var(--tracking-0);
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
}

.home .banner p strong {
  display: block;
  font-weight: 900;
}

@media (width>=60rem) {
  .home .banner {
    height: var(--size-33);
  }
}
