.form h4,
.form .country_drop_wrap,
.form #action_info,
.form #logo_wrap,
.form .ajax-loading,
.form .js-edit_d_sharing_opts-close,
.form .js-d_sharing_opts,
.form .can_thank_you_wrap h1 {
  display: none;
}

.form .international_link-wrap {
  display: none !important;
}

.form {
  padding-inline: var(--size-11);
}

.form form ul {
  list-style: none;
  padding-inline-start: 0;
}

.form .action_description {
  margin-block-start: 1em;
}

.form form ul > * + * {
  margin-block-start: var(--size-7);
}

.form .js-error_message,
.form li:has(.error_input) label,
.form .error_input {
  color: var(--color-orange-500);
}

.form .error_input {
  border-color: var(--color-orange-500);
  box-shadow: var(--error-ring);
}

input[type='email'],
input[type='text'],
input[type='search'] {
  appearance: none;
  height: var(--size-15);
  background: var(--color-cream-50);
  border: var(--size-0) solid var(--color-orange-550);
  border-radius: calc(var(--size-15) / 2);
  color: var(--color-orange-550);
  position: relative;
  margin-block-start: var(--size-4);
  padding-inline: var(--size-8);
  width: 100%;
}

input[type='email']:focus,
input[type='text']:focus,
input[type='search']:focus {
  border-color: var(--color-orange-700);
  color: var(--color-orange-700);
  outline: var(--focus-ring);
}

input[type='submit'] {
  align-items: center;
  background: var(--color-orange-500);
  border-radius: var(--size-8);
  border: 0;
  color: var(--color-white);
  display: flex;
  font-family: var(--font-display);
  gap: var(--size-3);
  height: var(--size-15);
  letter-spacing: var(--tracking-0);
  margin-inline: auto;
  padding-inline: var(--size-10);
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

input[type='submit']::after {
  background-color: var(--color-white);
  mask: url('data:image/svg+xml,<svg width="57" height="18" viewBox="0 0 57 18" fill="none" xmlns="http://www.w3.org/2000/svg"><line x1="8.74228e-08" y1="8.5" x2="55" y2="8.5" stroke="black" stroke-width="2"/><path d="M48 1.5L55.5 9L48 16.5" stroke="black" stroke-width="2"/></svg>');
  mask-repeat: no-repeat;
  mask-size: contain;
  content: '';
  height: var(--size-6);
  width: var(--size-16);
}

input[type='submit']:hover,
input[type='submit']:active {
  background: var(--color-orange-700);
  transition: 0.5s background;
}

input[type='checkbox'],
input[type='radio'] {
  appearance: none;
  background-color: var(--color-cream-100);
  border: var(--size-0) solid var(--color-orange-550);
  height: var(--size-8);
  margin-bottom: calc(2 * var(--size-1));
  vertical-align: middle;
  width: var(--size-8);
}

input[type='checkbox'] {
  border-radius: var(--size-2);
}

input[type='radio'] {
  border-radius: 50%;
}

input[type='checkbox']:focus,
input[type='radio']:focus {
  outline: var(--focus-ring);
  border-color: var(--color-orange-700);
}

input[type='checkbox']:checked,
input[type='radio']:checked {
  background-color: var(--color-orange-500);
  box-shadow: 0 0 0 0.125rem var(--color-cream-100) inset;
}

@media (width >= 90rem) {
  form > ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--size-7) var(--size-9);
  }

  .form form ul > * + * {
    margin-block-start: 0;
  }

  .form_builder_output,
  .checkbox_group_wrap,
  li:has(input[type='submit']),
  .js-error_message,
  .js-d_sharing,
  .js-fb-multipleradios {
    grid-column: 1 / span 2;
  }
}

.bg--cream-100 input[type='checkbox'],
.bg--cream-100 input[type='radio'] {
  background: var(--color-white);
}

.bg--cream-100 input[type='checkbox']:checked,
.bg--cream-100 input[type='radio']:checked {
  background-color: var(--color-orange-500);
  box-shadow: 0 0 0 0.125rem var(--color-white) inset;
}

.bg--cream-100 input[type='email'],
.bg--cream-100 input[type='text'],
.bg--cream-100 input[type='search'] {
  background: var(--color-white);
}
