.form h4,
.form .country_drop_wrap,
.form #action_info,
.form #logo_wrap,
.form .ajax-loading,
.form .js-edit_d_sharing_opts-close,
.form .js-d_sharing_opts,
.form .can_thank_you_wrap h1 {
  display: none;
}

.form .international_link-wrap {
  display: none !important;
}

.form {
  padding-inline: 2.1875rem;
}

.form form ul {
  list-style: none;
  padding-inline-start: 0;
}

.form .action_description {
  margin-block-start: 1em;
}

.form form ul > * + * {
  margin-block-start: 1.25rem;
}

.form .js-error_message,
.form li:has(.error_input) label,
.form .error_input {
  color: var(--color-orange-500);
}

.form .error_input {
  border-color: var(--color-orange-500);
  box-shadow: 0 0 0 2px var(--color-orange-500);
}

input[type='email'],
input[type='text'],
input[type='search'] {
  appearance: none;
  height: 3.125rem;
  background: var(--color-cream-50);
  border: 1px solid var(--color-orange-550);
  border-radius: 2.5rem;
  color: var(--color-orange-550);
  position: relative;
  margin-block-start: 0.75rem;
  padding-inline: 1.5rem;
  width: 100%;
}

input[type='email']:focus,
input[type='text']:focus,
input[type='search']:focus {
  border-color: var(--color-orange-700);
  color: var(--color-orange-700);
  outline: solid 2px var(--color-orange-700);
}

input[type='submit'] {
  align-items: center;
  background: var(--color-orange-500);
  border-radius: 1.5625rem;
  border: 0;
  color: var(--color-white);
  display: inline-flex;
  font-family: var(--font-display);
  gap: 0.625rem;
  height: 3.125rem;
  letter-spacing: 0.1em;
  padding-inline: 1.875rem;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

input[type='submit']::after {
  background-color: var(--color-white);
  mask: url('data:image/svg+xml,<svg width="57" height="18" viewBox="0 0 57 18" fill="none" xmlns="http://www.w3.org/2000/svg"><line x1="8.74228e-08" y1="8.5" x2="55" y2="8.5" stroke="black" stroke-width="2"/><path d="M48 1.5L55.5 9L48 16.5" stroke="black" stroke-width="2"/></svg>');
  mask-repeat: no-repeat;
  mask-size: contain;
  content: '';
  height: 1.125rem;
  width: 3.5625rem;
}

input[type='submit']:hover,
input[type='submit']:active {
  background: var(--color-orange-700);
  transition: 0.5s background;
}

input[type='checkbox'],
input[type='radio'] {
  appearance: none;
  background-color: var(--color-cream-100);
  border: 1px solid var(--color-orange-550);
  height: 1.5rem;
  margin-bottom: 0.5rem;
  vertical-align: middle;
  width: 1.5rem;
}

input[type='checkbox'] {
  border-radius: 0.3125rem;
}

input[type='radio'] {
  border-radius: 50%;
}

input[type='checkbox']:focus,
input[type='radio']:focus {
  outline: solid 2px var(--color-orange-700);
  border-color: var(--color-orange-700);
}

input[type='checkbox']:checked,
input[type='radio']:checked {
  background-color: var(--color-orange-500);
  box-shadow: 0 0 0 0.125rem var(--color-cream-100) inset;
}

@media (width >= 90rem) {
  form > ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem 1.625rem;
  }

  .form form ul > * + * {
    margin-block-start: 0;
  }

  .form_builder_output,
  .checkbox_group_wrap,
  li:has(input[type='submit']),
  .js-error_message,
  .js-d_sharing {
    grid-column: 1 / span 2;
  }
}

.bg--cream-100 input[type='checkbox'],
.bg--cream-100 input[type='radio'] {
  background: var(--color-white);
}

.bg--cream-100 input[type='checkbox']:checked,
.bg--cream-100 input[type='radio']:checked {
  background-color: var(--color-orange-500);
  box-shadow: 0 0 0 0.125rem var(--color-white) inset;
}

.bg--cream-100 input[type='email'],
.bg--cream-100 input[type='text'],
.bg--cream-100 input[type='search'] {
  background: var(--color-white);
}
