a {
    color: var(--color-orange-500);
    font-weight: 500;
    letter-spacing: -0.01em;
    text-decoration: underline;
}

a:hover {
    /* TODO */
}

a:active {
    /* TODO */
}

a:focus {
    /* TODO */
}

a:focus:active {
    /* TODO */
}
