body {
  font-family: var(--font-sans);
  font-size: 1.125rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-display);
  font-weight: 800;
  letter-spacing: 0.1em;
  line-height: 1.25;
  text-transform: uppercase;
}

h1 {
  color: var(--color-orange-500);
  font-size: 1.875rem;
}

h2 {
  color: var(--color-purple-600);
  font-size: 2.125rem;
  text-align: center;
}

h3 {
  color: var(--color-orange-500);
  font-size: 1.25rem;
  text-align: center;
}

p.subheader {
  color: var(--color-purple-600);
  font-weight: 700;
  line-height: 1.5;
}

p.large {
  font-size: 1.375rem;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 1.6;
  margin-inline: auto;
  margin-block-start: 3rem;
  max-width: 45rem;
  position: relative;
  text-align: center;
  width: 100%;
}

p.large::before {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 15 14"><path fill="%23CF3E1B" d="M15 7 0 0l5.524 7L0 14l15-7Z"/></svg>');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  top: -3rem;
  content: '';
  display: block;
  height: 1.5rem;
  left: 50%;
  position: absolute;
  width: 1.5625rem;
}

p.small {
  font-size: 1rem;
}

p.meta {
  color: var(--color-gray-500);
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 1.6;
  text-transform: uppercase;
}

blockquote {
  color: var(--color-orange-500);
  font-family: var(--font-display);
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.2;
  position: relative;
  text-align: center;
}

blockquote::before {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 15 14"><path fill="%23CF3E1B" d="M15 7 0 0l5.524 7L0 14l15-7Z"/></svg>');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: -3rem;
  content: '';
  display: block;
  height: 1.5rem;
  left: 50%;
  position: absolute;
  width: 1.5625rem;
}

@media (min-width: 90rem) {
  h1,
  h2 {
    font-size: 3.125rem;
  }

  h3 {
    font-size: 2.125rem;
  }
}
