body {
  font-family: var(--font-sans);
  font-size: var(--step-0);
  line-height: 1.5;
}

h1,
h2,
h3,
.h3,
h4 {
  font-family: var(--font-display);
  font-weight: 800;
  color: var(--text-accent-color, var(--color-purple-600));
  letter-spacing: var(--tracking-0);
  line-height: 1.25;
  text-transform: uppercase;
}

h1 {
  font-size: var(--step-5);
}

h2 {
  font-size: var(--step-4);
}

h3,
.h3 {
  font-size: var(--step-3);
}

p.subheader {
  color: var(--text-accent-color, var(--color-purple-600));
  font-weight: 700;
  line-height: 1.5;
}

p.large {
  font-size: var(--step-2);
  font-weight: 500;
  letter-spacing: var(--tracking--1);
  line-height: 1.6;
  margin-inline: auto;
  margin-block-start: var(--size-14);
  max-width: var(--size-33);
  padding-top: var(--size-14);
  position: relative;
  text-align: center;
  width: 100%;
}

p.large::before {
  background-color: var(--text-accent-color, var(--color-purple-600));
  mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 15 14"><path fill="black" d="M15 7 0 0l5.524 7L0 14l15-7Z"/></svg>');
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
  top: 0;
  content: '';
  display: block;
  height: var(--size-8);
  left: 50%;
  position: absolute;
  width: var(--size-8);
}

p.small {
  font-size: var(--step--1);
}

p.meta {
  color: var(--color-gray-500);
  font-size: var(--step-0);
  font-weight: 500;
  letter-spacing: var(--tracking-0);
  line-height: 1.6;
  text-transform: uppercase;
}

strong {
  color: var(--text-accent-color, var(--color-purple-600));
}

blockquote {
  color: var(--text-accent-color, var(--color-purple-600));
  font-family: var(--font-display);
  font-size: var(--step-1);
  font-weight: 700;
  line-height: 1.2;
  padding-bottom: var(--size-14);
  position: relative;
  text-align: center;
}

blockquote::before {
  background-color: currentColor;
  mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 15 14"><path fill="black" d="M15 7 0 0l5.524 7L0 14l15-7Z"/></svg>');
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
  bottom: 0;
  content: '';
  display: block;
  height: var(--size-8);
  left: 50%;
  position: absolute;
  width: var(--size-8);
}
