:root {
  /* Colors */
  --color-cream-50: #fffaef;
  --color-cream-100: #fae1c8;
  --color-cream-150: #fae0c7;
  --color-tangerine-300: #f7be2c;
  --color-orange-500: #cf3e1b;
  --color-orange-550: #d03f1b;
  --color-orange-700: #a82100;
  --color-purple-50: #f5edff;
  --color-purple-100: #eadbff;
  --color-purple-200: #b8a1ff;
  --color-purple-600: #3e34b2;
  --color-purple-650: #3f34b1;
  --color-purple-700: #312797;
  --color-gray-500: #666666;
  --color-white: #fff;
  --color-black: #000;

  --tracking-0: 0.1em;
  --tracking--1: -0.01em;

  /* @link https://utopia.fyi/type/calculator?c=320,18,1.125,1440,18,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --step--2: clamp(0.72rem, 0.9371rem + -0.2413vi, 0.8889rem);
  --step--1: clamp(0.9rem, 1.0286rem + -0.1429vi, 1rem);
  --step-0: clamp(1.125rem, 1.125rem + 0vi, 1.125rem);
  --step-1: clamp(1.2656rem, 1.2254rem + 0.2009vi, 1.4063rem);
  --step-2: clamp(1.4238rem, 1.3284rem + 0.4771vi, 1.7578rem);
  --step-3: clamp(1.6018rem, 1.4317rem + 0.8507vi, 2.1973rem);
  --step-4: clamp(1.802rem, 1.5322rem + 1.3494vi, 2.7466rem);
  --step-5: clamp(2.0273rem, 1.6256rem + 2.0085vi, 3.4332rem);

  /* Sizes */
  --size-0: 0.075rem;
  --size-1: 0.25rem;
  --size-2: 0.3125rem;
  --size-3: 0.625rem;
  --size-4: 0.75rem;
  --size-5: 1rem;
  --size-6: 1.125rem;
  --size-7: 1.25rem;
  --size-8: 1.5rem;
  --size-9: 1.625rem;
  --size-10: 1.875rem;
  --size-11: 2.1875rem;
  --size-12: 2.25rem;
  --size-13: 2.625rem;
  --size-14: 3rem;
  --size-15: 3.125rem;
  --size-16: 3.5625rem;
  --size-17: 3.75rem;
  --size-18: 4rem;
  --size-19: 4.125rem;
  --size-20: 4.375rem;
  --size-21: 4.75rem;
  --size-22: 5rem;
  --size-23: 5.625rem;
  --size-24: 5.9375rem;
  --size-25: 6.25rem;
  --size-26: 6.6875rem;
  --size-27: 7.8125rem;
  --size-28: 8rem;
  --size-29: 11.4375rem;
  --size-30: 23rem;
  --size-31: 25.625rem;
  --size-32: 31.25rem;
  --size-33: 38.625rem;
  --size-34: 53.125rem;
  --size-35: 66.875rem;
  --size-36: 80.625rem;
  --size-37: 90rem;

  /* Fonts */
  --font-system: -apple-system, blinkmacsystemfont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, cantarell, ubuntu, roboto, noto, arial,
    sans-serif;
  --font-display: inter, -apple-system, blinkmacsystemfont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, cantarell, ubuntu, roboto, noto, arial,
    sans-serif;
  --font-sans: 'Inter Tight', -apple-system, blinkmacsystemfont, avenir next,
    avenir, segoe ui, helvetica neue, helvetica, cantarell, ubuntu, roboto, noto,
    arial, sans-serif;

  /* Focus Ring */
  --focus-ring: 0.125rem solid var(--color-orange-700);

  /* Error Ring */
  --error-ring: 0 0 0 0.125rem var(--color-orange-500);
}
