:root {
  /* Colors */
  --color-cream-50: #fffaef;
  --color-cream-100: #fae1c8;
  --color-cream-150: #fae0c7;
  --color-orange-500: #cf3e1b;
  --color-orange-550: #d03f1b;
  --color-orange-700: #a82100;
  --color-purple-50: #f5edff;
  --color-purple-100: #eadbff;
  --color-purple-200: #b8a1ff;
  --color-purple-600: #3e34b2;
  --color-purple-650: #3f34b1;
  --color-purple-700: #312797;
  --color-gray-500: #666666;
  --color-white: #fff;
  --color-black: #000;

  /* Sizes */
  --size-000: -0.5rem;
  --size-00: -0.25rem;
  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 1rem;
  --size-4: 1.25rem;
  --size-5: 1.5rem;
  --size-6: 1.75rem;
  --size-7: 2rem;
  --size-8: 3rem;
  --size-9: 4rem;
  --size-10: 5rem;
  --size-11: 7.5rem;
  --size-12: 10rem;
  --size-13: 15rem;
  --size-14: 20rem;
  --size-15: 30rem;
  --size-fluid-1: clamp(0.5rem, 1vw, 1rem);
  --size-fluid-2: clamp(1rem, 2vw, 1.5rem);
  --size-fluid-3: clamp(1.5rem, 3vw, 2rem);
  --size-fluid-4: clamp(2rem, 4vw, 3rem);
  --size-fluid-5: clamp(4rem, 5vw, 5rem);
  --size-fluid-6: clamp(5rem, 7vw, 7.5rem);
  --size-fluid-7: clamp(7.5rem, 10vw, 10rem);
  --size-fluid-8: clamp(10rem, 20vw, 15rem);
  --size-fluid-9: clamp(15rem, 30vw, 20rem);
  --size-fluid-10: clamp(20rem, 40vw, 30rem);

  /* Fonts */
  --font-display: inter, -apple-system, blinkmacsystemfont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, cantarell, ubuntu, roboto, noto, arial,
    sans-serif;
  --font-sans: 'Inter Tight', -apple-system, blinkmacsystemfont, avenir next,
    avenir, segoe ui, helvetica neue, helvetica, cantarell, ubuntu, roboto, noto,
    arial, sans-serif;
}
