<section>
    <div class="grid">
        <div class="column" style="--span:12">
            <div class="blocks flow">
                <div class="block-type-agenda flow">
                    <ol>
                        <li>
                            <p>We are a mass movement of everyday people, rising to tackle the climate crisis and create a just and equitable future for all.</p>
                            <p>We come together to end the corporate elite’s grip on climate action, reclaim our democratic power, fight for Indigenous sovereignty, and improve the lives of working people. We are an unstoppable wave that will take on the biggest challenge of our time and win a People’s Agenda.</p>
                        </li>
                        <li>
                            <p>We build power in our networks and wield our political power. </p>
                            <p>We grow from the communities we belong to— unions, workplaces and neighbourhoods— by talking to our coworkers, neighbours and friends. We always think about those who have not joined us yet and welcome them into our movement. And because tackling the climate crisis requires our governments to take responsibility and spend what it takes, we take our fight to Parliament and force politicians to implement the solutions we need.</p>
                        </li>
                        <li>
                            <p>Our diversity is our strength.</p>
                            <p>We are of many cultures, ages and from all paths of life. We live in rural communities, suburbs and cities, in Canada, Québec, and Indigenous nations across this land. A wealthy few try to pit us against each other because they know that when we come together, we have the power to win. We build a united force by embracing and bridging across our differences.</p>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
