{% block head %}
{% include "../../../static/svg/filters.svg" %}
{% endblock %}
<div class="banner">
    <h1>{{ params.title }}</h1>
    {% if params.img %}
    <figure><img class="filter-purple-600" src="{{ params.img }}" alt="{{ params.imgAlt }}" /></figure>
    {% endif %}
</div>
