<header> 
    {{ c("navigation", {
        "items": [
            {
            "title": "Who We Are",
            "current": true
            },
            {
            "title": "How We Win"
            },
            {
            "title": "Campaigns"
            },
            {
            "title": "People’s Agenda"
            },
            {
            "title": "Take Action"
            }
        ]
    }) }}
    {{ c("banner", {
    "title": "Who We Are",
    "img": "https://placehold.co/800x800"
    }) }}
</header>
